<div #canvasContainer>
</div>

<div style="position: absolute; top: 50%; right: 0; width: auto; display: flex; flex-direction: column; gap: 20px;">
    <button style="border-radius: 50%; padding: 10px;"><img src="Icons/Branch.png" width="70" (click)="loadingModelBranch()"/></button>
    <button style="border-radius: 50%; padding: 10px;"><img src="Icons/Branch.png" width="70" (click)="loadingModelUnderBranch()"/></button>
    <button style="border-radius: 50%; padding: 10px;"><img src="Icons/Leaves.png" width="70" (click)="loadingModelLeaves()"/></button>
</div>

