<div #Register class="main-register-menu">

    <h1>Регистрация</h1>
    <span style="opacity: 0.6; margin-bottom: 15px">Создай аккаунт и начни свой рост</span>

    <input [(ngModel)]="email" placeholder="Email" style="border-radius: 10px; margin-bottom: 15px; border: 1px solid rgba(191,191,191,1); padding: 7px"/>
    <input [(ngModel)]="password" placeholder="Пароль" style="border-radius: 10px; margin-bottom: 15px; border: 1px solid rgba(191,191,191,1); padding: 7px"/>
    <div style="display: flex; gap: 7px;align-items: center">
        <button style="    
            color: white;
            width: fit-content; 
            display: flex; 
            align-items: center; 
            gap: 8px; 
            padding: 8px 12px 8px 12px;
            border-radius: 10px; 
            border: 0; 
            background: linear-gradient(rgba(62,166,90,0.6),rgba(111,191,115,1));" (click)="clickHandle()">Продолжить</button>
        <a href="/login">Уже есть аккаунт?</a>
    </div>

</div>
